body, html
{
  height: 100%
  margin: 0;
  background-color: #f1f1f1;
  color: #4D4051;
}

h2
{
  color: #4D4051;
}

table
{
  border-collapse: collapse;
}

*
{
  box-sizing: border-box;
}

.bg-img
{
  background-image: url("yosemite.jpg");

  min-height: 425px;
  max-height: 425px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container
{
  position: absolute;
  right: 50px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #f1f1f1;
  opacity: 0.95;
}

select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    opacity: 1.0;
}

input[type=button]
{
  background-color: #827187;
  color: white;
  padding 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  min-height: 30px;
  font-size: large;
  opacity: 0.9;
}

.btn:hover
{
  opacity: 1;
}
